* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "DM Sans";
}

body {
  background: var(--bg);
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(17, 24, 39, 0.1);
  backdrop-filter: blur(200px);
  overflow-x: hidden;
}

.blur-group {
  position: absolute;
  top: 0;
  left: 0;
}

:root {
  --bg: #111827;
  --white: #fff;
  --fontRubik: "Rubik";
  --whiteTone: #f9fafb;
  --grey: #e5e7eb;
  --btn: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
  --gradient: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
  --cards: linear-gradient(
    268.12deg,
    rgba(254, 254, 255, 0.032) -11.04%,
    rgba(255, 255, 255, 0.018) 104.89%
  );
  --icon4: linear-gradient(180deg, #92efc3 0%, #2f8f5b 100%);
  --input: linear-gradient(
    180deg,
    rgba(254, 254, 255, 0.0348) 0%,
    rgba(255, 255, 255, 0.048) 100%
  );
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 800px) {
  .blur-group {
    display: none;
  }
  body {
    background: url(../img/Bg.png);
  }
}
