.solutions {
  z-index: 5;
  position: relative;
}

.blur1, .blur2, .blur3, .blur4 {
  position: absolute;  /* Позиционирование относительно родителя */
  z-index: -1;         /* Размытие будет находиться позади контента */
  filter: blur(200px); /* Размытие фона */
}

.blur1 {
  max-width: 320px;
  width: 100%;
  height: 300px;
  background: rgba(29, 78, 216, 0.45); 
  top: 5%;
  left: 0;
}

.blur2 {
  max-width: 130px;
  width: 100%;
  height: 100px;
  background: rgba(217, 70, 239, 1);
  top: 5%;
  right: 30%;
}

.blur3 {
  max-width: 340px;
  width: 100%;
  height: 280px;
  background: rgba(81, 65, 218, 1);
  top: 5%;
  right: 0;
}

.blur4 {
  max-width: 80px;
  width: 100%;
  height: 30px;
  background: rgba(175, 81, 197, 1);
  top: 100%;
  left: 20px;
} 
.solutions__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.solutions__desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 546px;
  width: 100%;
}

.solutions__desc-title {
  height: 168px;
  font-size: 58px;
  font-weight: 700;
  background: var(--gradient);
  -webkit-background-clip: text; /* Обрезка фона только текстом */
  -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
}

.solutions__desc-text {
  font-size: 15px;
  font-weight: 500;
  color: var(--grey);
  line-height: 30px;
}

.solutions__desc-btns {
  display: flex;
  align-items: center;
  gap: 30px;
}

.solutions__desc-video {
  display: flex;
  align-items: center;
  gap: 20px;
}

.solutions__desc-btn {
  font-size: 16px;
  font-weight: 500;
  color: var(--whiteTone);
  padding: 20px 40px;
  background: var(--btn);
  border-radius: 5px;
}

.solutions__desc-video {
  font-size: 16px;
  font-weight: 500;
  color: var(--whiteTone);
}

.solutions__img-item {
  max-width: 630px;
  width: 100%;
}
.solutions__img img {
  width: 100%;
}

@media screen and (max-width: 860px) {
  .solutions__wrap {
    flex-direction: column;
    gap: 10px;
  }
  .solutions__desc-title {
    text-align: center;
  }
  .solutions__desc-text {
    text-align: center;
  }
  .solutions__desc-btns {
    justify-content: center;
  }
}

@media screen and (max-width: 580px) {
  .solutions__desc-title {
    font-size: 40px;
  }
  .solutions__desc-text {
    font-size: 12px;
  }
  .solutions__desc-btn {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 400px) {
  .solutions__desc-title {
    font-size: 30px;
  }
  .solutions__desc-btn {
    padding: 10px 20px;
  }
}

