.team {
  padding: 50px 0 60px;
  position: relative;
  z-index: 5;
}

.blur14,
.blur15,
.blur16,
.blur17 {
  position: absolute; /* Позиционирование относительно родителя */
  z-index: -1; /* Размытие будет находиться позади контента */
  filter: blur(200px); /* Размытие фона */
}

.blur14 {
  max-width: 250px;
  width: 100%;
  height: 340px;
  background: rgba(217, 70, 239, 0.43);
  top: 40%;
  left: 10%;
}

.blur15 {
  max-width: 250px;
  width: 100%;
  height: 340px;
  background: rgba(81, 65, 218, 1);
  top: 50%;
  left: 20%;
}

.blur16 {
  max-width: 300px;
  width: 100%;
  height: 360px;
  background: rgba(29, 78, 216, 0.79);
  top: 40%;
  left: 40%;
}

.blur17 {
  max-width: 250px;
  width: 100%;
  height: 340px;
  background: rgba(217, 70, 239, 0.43);
  top: 40%;
  right: 0;
}

.team__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  gap: 30px;
}

.team__desc-title {
  font-size: 42px;
  font-weight: 700;
  color: var(--white);
}

.team__desc-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  color: var(--white);
  max-width: 480px;
  width: 100%;
  text-align: center;
}

.team__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 270px;
  grid-column-gap: 30px;
}

.team__wrap-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 22px 18px 0px #0000000d;
  background: var(--cards);
  border-radius: 35px;
  justify-content: center;
}


.team__card-img img {
  width: 95px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.team__card-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.team__card-desc-title {
  font-size: 28px;
  font-weight: 500;
  color: var(--white);
  text-align: center;
  text-wrap: nowrap;
}

.team__card-desc-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
}

.team__card-icons {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1090px) {
    .team__wrap {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }    
}

@media screen and (max-width: 678px) {
    .team__wrap {
        grid-template-columns: repeat(1, 1fr);
    }  
}
